<form method="post" action="{{ path('image_delete', {'id': image.id}) }}">
  <input type="hidden" name="_method" value="DELETE">
  <button type="button" data-toggle="modal" data-target="#deleteModal{{ image.id }}" class="btn btn-outline-danger">
    <i
      class="far fa-trash-alt"></i></button>
</form>

<!-- Modal -->
<div class="modal fade" id="deleteModal{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Suppression</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body" style="font-size: 20px">
        Êtes-vous sûr de vouloir supprimer l'image
        <img src="{{ image.picture }}" alt="{{ image.episodePicture.title }}"> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
        <form method="post" action="{{ path('image_delete', {'id': image.id}) }}">
          <input type="hidden" name="_method" value="DELETE">
          <button type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}"
                  class="btn btn-danger">Oui
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
