{% extends 'base.html.twig' %}

{% block title 'Nouvelle image' %}

{% block body %}

  <div class="wrapperImageNew container">

    <h1>Ajouter une nouvelle image</h1>
    <div class="row">
      <div class="col d-flex align-items-center">
        <p>Image déjà existante :</p>
        {% if images %}
          {% for image in images %}
            <ul class="list-group list-group-horizontal ml-2">
              <li class="list-group-item text-center">
                <a data-fancybox="gallery" href="{{ image.picture }}"><img src="{{ image.picture }}"
                                                                           alt="{{ image.episodePicture.title }}">
                </a>
                <i>{{ image.episodePicture.season.program.slug | replace({'-' : ' '}) | title }} - {{ image.episodePicture.title }}</i>
              </li>
            </ul>
          {% endfor %}
        {% else %}
          <p class="text-info list-group-item ml-2">C'est la première</p>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{ include ('admin/image/_form.html.twig') }}
        <a class="listLink" href="{{ path('image_index') }}">Retour à la liste</a>
      </div>
    </div>

  </div>


{% endblock %}
