{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}

  <div class="wrapperEpisodeShow container">

    <h1>Episode</h1>

    <div class="row">
      <div class="col table-responsive">
        <table class="table table-light table-striped table-bordered table-hover">
          <tbody>
          <tr>
            <th>Id</th>
            <td>{{ episode.id }}</td>
          </tr>
          <tr>
            <th>Title</th>
            <td>{{ episode.title }}</td>
          </tr>
          <tr>
            <th>Summary</th>
            <td>{{ episode.synopsis }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-lg-4">
        <a href="{{ path('episode_index') }}">back to list</a>
      </div>
      <div class="col-lg-4">
        <a href="{{ path('episode_edit', {'id': episode.id}) }}">
          <button class="btn btn-outline-dark">edit</button>
        </a>
      </div>
      <div class="col-lg-4">
        {{ include('episode/_delete_form.html.twig') }}
      </div>
    </div>

  </div>

{% endblock %}
