{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}

  <div class="wrapperSeasonIndex container">

    <h1>Season index</h1>

    <div class="row">
      <div class="col table-responsive">
        <table class="table table-light table-striped table-bordered table-hover">
          <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Year</th>
            <th>Description</th>
            <th>actions</th>
          </tr>
          </thead>
          <tbody>
          {% for season in seasons %}
            <tr>
              <td>{{ season.id }}</td>
              <td>{{ season.year }}</td>
              <td>{{ season.description }}</td>
              <td>
                <a href="{{ path('season_show', {'id': season.id}) }}">show</a>
                <a href="{{ path('season_edit', {'id': season.id}) }}">edit</a>
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="4">no records found</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <a href="{{ path('season_new') }}">Create new</a>

  </div>

{% endblock %}
