{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}

  <div class="wrapperSeasonShow container">

    <h1>Season</h1>

    <div class="row">
      <div class="col table-responsive">
        <table class="table table-light table-striped table-bordered table-hover">
          <tbody>
          <tr>
            <th>Id</th>
            <td>{{ season.id }}</td>
          </tr>
          <tr>
            <th>Year</th>
            <td>{{ season.year }}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ season.description }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-lg-4">
        <a href="{{ path('season_index') }}">back to list</a>
      </div>
      <div class="col-lg-4">
        <a href="{{ path('season_edit', {'id': season.id}) }}">
          <button class="btn btn-outline-dark">edit</button>
        </a>
      </div>
      <div class="col-lg-4">
        {{ include('season/_delete_form.html.twig') }}
      </div>
    </div>

  </div>

{% endblock %}
