{% extends 'base.html.twig' %}

{% block title %} Catégorie {{ categoryName }} {% endblock %}

{% block body %}

  <div class="wrapperCategory container">
    <div class="row">
      <div class="col">
        <h1>Toutes les séries de la catégorie : {{ categoryName }}</h1>
      </div>
    </div>

    {% for program in programs %}

      <div class="card mt-2">
        <div class="card-title m-2">
          <h3>{{ program.slug | replace({'-' : ' '}) | title }}</h3>
        </div>
        <div class="card-text">
          <p class="p-2">{{ program.summary|u.truncate(100,'...') }}</p>
          <a class="p-2" href="{{ path('wild_show', {'slug': program.title}) }}">En voir plus</a>
        </div>
      </div>

    {% endfor %}

    <div class="row text-center">
      <div class="col-lg-6">
        <a href="{{ path('show_categories') }}">Page précédente</a>
      </div>
      <div class="col-lg-6">
        <a href="{{ path('wild_index') }}">Retour aux séries</a>
      </div>
    </div>

  </div>

{% endblock %}
