{% extends 'base.html.twig' %}

{% block title %}

  {{ program.title }} / Saison : {{ id }}

{% endblock %}

{% block body %}


  <div class="wrapperEpisodes container">

    <h1 class="mr-2"><u>{{ program.title }}</u></h1>
    <a href="{{ path('show_program', {'slug': program.slug}) }}">
      <h2 class="mr-2"><u>Saison {{ id }} - Année {{ season.year }}</u></h2>
    </a>

    {% for episode in episodes %}

      <div class="card mt-2">
        <div class="card-title m-2 d-flex align-items-baseline">
          <h2 class="mr-2">Episode {{ episode.number }} - </h2>
          <h3>{{ episode.title }}</h3>
        </div>
        <div class="card-body">
          <p class="card-text">{{ episode.synopsis|u.truncate(150, '...') }}</p>
        </div>
        <a class="m-2" href="{{ path('show_episode', {'id':episode.id}) }}">Voir la suite</a>
      </div>

    {% endfor %}

    <div class="row text-center m-2">
      <div class="col-lg-12">
        <a href="{{ path('show_program', {'slug': program.slug}) }}">Retour aux saisons</a>
      </div>
    </div>

  </div>

{% endblock %}
