{% extends 'base.html.twig' %}

{% block title %}{{ program.slug | replace({'-' : ' '}) | title }}{% endblock %}

{% block body %}


  <div class="wrapperProgram container">

    <h1>{{ program.slug | replace({'-' : ' '}) | title }}</h1>

    {% if seasons %}

      {% for season in seasons %}

        <div class="card mt-2">
          <div class="card-title m-2 d-flex align-items-baseline">
            <h2 class="mr-2">Saison {{ loop.index }} -</h2>
            <h3>Année {{ season.year }}</h3>
          </div>
          <div class="card-body">
            <p class="card-text">{{ season.description }}</p>
            <a href="{{ path('show_episodes', {'id': season.id }) }}">Voir tous les épisodes de la
              saison</a>
          </div>
        </div>

      {% endfor %}

    {% else %}

      {% include 'Error/_error.html.twig' %}

    {% endif %}

    <div class="row text-center m-2">
      <div class="col-lg-12">
        <a href="{{ path('wild_index') }}">Retour aux séries</a>
      </div>
    </div>

  </div>

{% endblock %}
