{% extends 'base.html.twig' %}

{% block title %}{{ programName }}{% endblock %}

{% block body %}


  <div class="wrapperProgram container">

    {% for season in seasons %}

      <div class="card mt-2">
        <div class="card-title m-2 d-flex align-items-baseline">
          <h1 class="mr-2">Saison : {{ season.id }}</h1>
          <h3>Année : {{ season.year }}</h3>
        </div>
        <div class="card-body">
          <p class="card-text">{{ season.description }}</p>
          <a href="{{ path('show_episodes', {'id': season.id }) }}">Voir toutes les épisodes de la
            saison</a>
        </div>
      </div>

    {% endfor %}

    <div class="row text-center m-2">
      <div class="col-lg-12">
        <a href="{{ path('wild_index') }}">Retour aux séries</a>
      </div>
    </div>

  </div>

{% endblock %}