{% extends 'base.html.twig' %}

{% block title %} {{ slug }} {% endblock %}

{% block body %}

  <div class="wrapperSlug container text-center">

    <div class="media mb-5">
      <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
      <div class="media-body">
        <h1 class="text-center mt-1">{{ program.title }}</h1>
        <small class="text-muted">Categorie : {{ program.category.name }}</small>
        <p>{{ program.summary }}</p>
        <div class="d-flex flex-column ">
          <a href="{{ path('show_program', {'programName': program.title}) }}">Voir toutes les saisons de la série</a>
        </div>
      </div>
    </div>
    <a href="{{ path('wild_index') }}">Retour aux séries</a>
  </div>

{% endblock %}